<!-- docproc/templates/layout.html -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}FixDocs - Document Management{% endblock %}</title>

    <!-- Stylesheets -->
    <link rel="stylesheet" href="/assets/docproc/css/style.css" />
    {% block head %}{% endblock %}
  </head>
  <body>
    <header>{% block header %}{% endblock %}</header>

    <main>{% block content %}{% endblock %}</main>

    <footer>{% block footer %}{% endblock %}</footer>

    {% block scripts %}{% endblock %}
  </body>
</html>
