<!-- docproc/www/document/index.html -->
{% extends "templates/layout.html" %} {% block title %}Document Viewer -
FixDocs{% endblock %} {% block header %} {% include
"templates/includes/navbar/fixdocs_navbar.html" %} {% endblock %} {% block
content %}
<div id="fixdocs-document" data-document-id="{{ doc_id }}"></div>
{% endblock %} {% block scripts %}
<script type="text/javascript">
  window.socketPort = "{{ socketPort }}";
</script>
<script
  type="text/javascript"
  src="/assets/docproc/js/react/bundle.js"
></script>
{% endblock %}
